.bg-custom-header{
	background-color: #001a4d !important;
}

@media (min-width: 768px) {
  body {
    padding-top: 56px;
  }
}

/*font logotipo */
.logo{
	font-family: 'Hammersmith One', sans-serif !important;
	font-size: 46px !important;
	color: #EFFBF5;
	top: 0px;
	position: relative;
	height: 11px !important;
	width: 100px !important;
	left: 17px;
}

.nube-logo{
	top: -69px;
    color: #fff;
    position: relative;
    left: 189px;
    font-size: 43px;
    text-shadow: 0px 0px 4px blue;
}

.navbar {
	min-height: 70px;
}

.navbar-brand {
	padding: 0 15px;
	height: 70px;
	line-height: 70px;
}

.navbar-toggle {
	/* (80px - button height 34px) / 2 = 23px */
	margin-top: 23px;
	padding: 9px 10px !important;
}

.nav-item {
	font-size: 17px;
}

@media (min-width: 992px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}

@media only screen and (max-width: 992px) {

	.logo{
		font-size: 37px !important;
		top: 0px;
		position: relative;
		height: 11px !important;
		width: 100px !important;
		left: 17px;
	}

	.nube-logo {
		top: -70px !important;
		position: relative !important;
		left: 153px !important;
		font-size: 36px !important;
		text-shadow: 0px 0px 3px blue !important;
	}
}